In [77]:
import pandas as pd
import numpy as np
from scipy.special import softmax

In [78]:
legendary_df = pd.read_json('../data/raw_legendary.json')
normal_df = pd.read_json('../data/raw_normal.json')

normal_df = normal_df[["id", "diggCount", "shareCount", "playCount", "commentCount", "collectCount", "webVideoUrl"]]
legendary_df = legendary_df[["id", "diggCount", "shareCount", "playCount", "commentCount", "collectCount", "webVideoUrl"]]

In [79]:
normal_df.head()

,id,diggCount,shareCount,playCount,commentCount,collectCount,webVideoUrl
0,7511483287160818688,816,74,7474,92,32,https://www.tiktok.com/@brooklynnets/video/751...
1,7348013122038270976,450200,160500,12100000,10200,109200,https://www.tiktok.com/@officalmemehubaccount1...
2,7511451058015587328,18500,3977,89400,182,1983,https://www.tiktok.com/@camm4x/video/751145105...
3,7511403705053285376,1741,357,63300,19,155,https://www.tiktok.com/@memehub8805/video/7511...
4,7495075721396669440,1300000,1000000,13800000,23000,190000,https://www.tiktok.com/@loverbboiiii/video/749...

In [80]:
cols = ["diggCount", "shareCount", "playCount", "commentCount", "collectCount"]

normal_df[cols] = (normal_df[cols] - normal_df[cols].min()) / (normal_df[cols].max() - normal_df[cols].min())

weights = [1, 1, 1, 1, 1]
normal_df["score"] = normal_df[cols].dot(weights)

In [81]:
# Morph to normal
def loss(weights, df, cols):
    score = df[cols].dot(weights)
    score = np.array(score)
    pass

In [82]:
# common, uncommon, rare, epic, legendary
# 45%, 25%, 15%, 10%, 5%

normal_df["score"] = normal_df["score"].rank(pct=True)

common = normal_df.loc[normal_df["score"] < 0.45/0.90]
uncommon = normal_df.loc[(normal_df["score"] >= 0.45/0.90) & (normal_df["score"] < 0.70/0.90)]
rare = normal_df.loc[(normal_df["score"] >= 0.70/0.90) & (normal_df["score"] < 0.85/0.90)]
epic = normal_df.loc[(normal_df["score"] >= 0.85/0.90) & (normal_df["score"] < 0.95/0.90)]

print(common.shape)
print(uncommon.shape)
print(rare.shape)
print(epic.shape)

(224, 8)
(125, 8)
(75, 8)
(26, 8)

In [83]:
common.to_json('../data/common.json', orient='records')
uncommon.to_json('../data/uncommon.json', orient='records')
rare.to_json('../data/rare.json', orient='records')
epic.to_json('../data/epic.json', orient='records')
legendary_df.to_json('../data/legendary.json', orient='records')